*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    line-height: 25px;
    overflow-x: hidden;
    scroll-padding-top: 120px;
}
main{
    background-color: black;
    border: 1px solid transparent;
}

header{
    width: 100%;
    height: 120px;
    background-color: black;
    color: rgba(180, 11, 180, 0.772);    
    border: 1px solid transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid;
    z-index: 1030;
}
#logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right,yellow,red,violet,darkgreen,darkblue);
    -webkit-background-clip:text;
    -webkit-animation-fill-mode: none;
}
header div ul{
    width: 70%;
    list-style: none;
}
header div ul li a{
    color: rgb(11, 140, 154);
    text-decoration: none;
    margin-right: 20px;
}
#home{
    margin-top: 120px;
    border: 1px solid transparent;
    background-color: black;
    /* background-color: rgb(63, 87, 87); */
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    word-spacing: 1px;
    color: white;
}

#home h3{
    color: rgb(11, 140, 154);
}
#home h4{
    color: rgba(180, 11, 180, 0.772);
}
#home p{
    
}
#about{
    margin: 0;
    border: 1px solid transparent;
    background-color: rgb(39, 38, 38);
}
#about .section span{
    color: rgb(234, 174, 20);
    margin-bottom: 15px;
}
#about .section h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 5px;

}
#about .section h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#about .section p span{
    color: rgb(234, 174, 20);
}
#service{
    border: 1px solid transparent;
    background-color: rgb(63, 87, 87);
}
#education{
    border: 1px solid transparent;
    background-color: black;
}
#education span{
    color: rgb(234, 174, 20);
    margin-bottom: 15px;
}
#education .container h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#education .section{
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
}
#project{
    border: 1px solid transparent;
    background-color: rgb(39, 38, 38);
}
#project .mainSection span{
    color: rgb(234, 174, 20);
}
#contact{
    border: 1px solid transparent;
    background-color: black;
}

/* @media (min-width:320px){
    header a{
        font-size: 10px;
    }

    #home{
        font-size: 10px;
    }

}

@media (max-width:575px){
    header a{
        font-size: 12px;
    }
    #home{
        font-size: 12px;
    }
    #about{
        font-size: 12px;
    }

}

@media (min-width:576px) and (max-width:767px){
    header a{
        font-size: 14px;
    }
    #home{
        font-size: 14px;
    }
    #about{
        font-size: 14px;
    }

}

@media (min-width:768px) and (max-width:991px){
    header a{
        font-size: 16px;
    }
    #home{
        font-size: 16px;
    }
    #about{
        font-size: 16px;
    }

}

@media (min-width:992px) and (max-width:1199px){
    header a{
        font-size: 18px;
    }
    #home{
        font-size: 18px;
    }
    #about{
        font-size: 18px;
    }

}

@media (min-width:1200px){
    header a{
        font-size: 20px;
    }
    #home{
        font-size: 20px;
    }

    #about{
        font-size: 20px;
    }

} */
