* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.container {
    max-width: 100%;
}

.navbar .navbar-brand{
    background-image: linear-gradient(to right, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
}

.navbar .nav-link:hover{
    color: #ff0080;
    border-bottom: 2px solid #ff8c00;
}
